/project1/cifar-10-batches-py/
/project1/cifar-10-python.tar.gz
/project1/img.npy
/project1/test_npy/
/project1/__pycache__/

/project1/test.py
/project1/train_result/

/project1/*.txt
/project1/*.npy
/project1/*.png
.DS_Store

/project2/*.txt
/project2/*.npy
/project2/*.png
/project2/test.py

.idea/
